<% if !@file_upload.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @file_upload.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>
<%= render 'file'%>
<div class = "well">
   <%= form_for [@user,@file_upload], html: { multipart: true } do |f| %>
       <%= f.label :Ownername %>
      <%= f.text_field :owner %>

      <%= f.label :filename %><br>
      <%= f.text_field :fname %>

      <%= f.label :filetype %><br>
      <%= f.text_field :ftype %>
      
      <%= f.label :keywords %><br>
      <%= f.text_area :keywords %><br>

      <%= f.label :Attachment %>
      <%= f.file_field :attachment %>
		      
     <br> 
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>



