<%= render 'file'%>

<p id="notice"><%= notice %></p>
<p>
  <strong>Fname:</strong>
  <%= @file_upload.fname %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @file_upload.owner %>
</p>

<p>
  <strong>Ftype:</strong>
  <%= @file_upload.ftype %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @file_upload.keywords %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @file_upload.attachment %>
</p>

<%= link_to 'Edit', edit_user_file_upload_path(@user,@file_upload) %> |
<%= link_to 'Back', user_file_uploads_path %>
