<!DOCTYPE html>
<html>
	<head>
    <title>Log In - Secure Cloud</title>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="users.scss">
	</head>
	<body>
  <div class="container">
		<div class="login">
			<div class="container">
    			<div class="form">
    				<h3>Already member?</h3>
    				<%= flash[:danger] %>
					<h1>Log In</h1>
					<%= form_for(:session, url: login_path) do |f| %> 
  						<%= f.email_field :email, :placeholder => "Email" %> <br>
  						<%= f.password_field :password, :placeholder => "Password" %> <br>
  						<%= f.submit "Log in", class: "btn-submit" %>
					<% end %>
				</div>
			</div>
		</div>			
	</div>
	
	</body>
</html>
