<!DOCTYPE html>
<html>
<head>
    <title><%= @user.first_name.upcase %></title>
     <%= stylesheet_link_tag    'application','users.scss' %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-sm-10"><h1><%=@user.first_name%></h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item list-group-item-info text-muted">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>First name</strong></span> <%= @user.first_name%></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Last name</strong></span> <%= @user.last_name%></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> 
            <%= @user.email %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Gender</strong></span> 
            <%= @user.gender %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Birthday</strong></span> <%= @user.date_of_birth %></li>
            
          </ul> 
        </div>
        <div class="col-sm-9">
        <nav class="navbar navbar-inverse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:show] == 'show' %>"><strong> <%= link_to "Home",user_path(current_user.id)%></strong></li>
            <li class="<%= 'active' if params[:edit] == 'edit' %>"><strong> <%= link_to "Edit Profile",edit_user_path(current_user)%></strong> </li>
            <li class="<%= 'active' if params[:index] =='index' %>"><strong><%= link_to "View all Users",users_path%></strong> </li> 
            <li><strong><%= link_to "Library",user_file_uploads_path(current_user)%></strong> </li> 
            <li><strong><%= link_to "Messages",users_path%></strong> </li> 
            <li><strong><%= link_to "destroy", @user, method: :delete,data: { confirm: "You sure?" } %></strong></li> 
          </ul>
        </nav>
         <hr>
        </div>
    <%=yield%>   

   
</body>
</html>