<!DOCTYPE html>
<html>
<head>
    <title><%= @user.first_name.upcase %></title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="users.scss">
</head>
<body>
	
	<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
            <!-- edit form column -->
     <div class="col-md-9 personal-info">
     	<%= form_for(@user) do |f| %>
        
	    <%= render 'shared/error_messages' %>
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <%= f.text_field :first_name, :placeholder => "First name" %>
          </div>
          <div class="form-group">
           <%= f.text_field :last_name, :placeholder => "Last name" %>
          </div>
          <div class="form-group">
            <%= label_tag(:date_of_birth, "Date of Birth:") %>
            <%= date_select :user, :date_of_birth, :start_year => 1990,:use_month_numbers => true, :order => [:day,:month,:year], :html=>{:class => "form-group"} %>
          </div>
          <div class="form-group">
            <label>Gender:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>Male</label>&nbsp;&nbsp;&nbsp;&nbsp;
             <%= radio_button :user, :gender, "male" %>&nbsp;&nbsp;&nbsp;&nbsp;
      
            <label>Female</label>&nbsp;&nbsp;&nbsp;&nbsp;
             <%= radio_button :user,:gender, "female" %>
            
          </div>
          <div class="form-group">
            <%= f.email_field :email, :placeholder => "Email" %><br>
          </div>
         
          <div class="form-group">
           <%= f.password_field :password, :placeholder => "Old Password" %><br>
          </div>
          <div class="form-group">
           <%= f.password_field :password, :placeholder => "New Password" %><br>
          </div>
          
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
             <%= f.submit "Save Changes", class: "btn btn-primary" %>
              <span></span>
              <input class="btn btn-default" value="Cancel" type="reset">
            </div>
          </div>
          <% end %>
        </form>
      </div>
  </div>
</div>
<hr>
</body>
</html>