<!DOCTYPE html>
<html>
	<head>
    <title>Sign Up - Secure Cloud</title>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="users.scss">
    <link rel="javascript">
	</head>
	<body>
	
  <div class="container">	
			<div class="signup">
				<div class="container">

    				<div class="form">
    					<h3>Not a member yet?</h3>
	   					<h1>Sign up</h1>
              <%= render 'shared/error_messages' %>
                <%= form_for(@user) do |f| %>
      					<%= f.text_field :first_name, :placeholder => "First name" %><br>
      					<%= f.text_field :last_name, :placeholder => "Last name" %><br>
      					<%= f.email_field :email, :placeholder => "Email" %><br>
      					<%= f.password_field :password, :placeholder => "Password" %><br>
      					<%= f.submit "Create an account", class: "btn-submit" %><br>
    					<% end %>

  				</div>
			</div>
		</div>
		</div>
		
	</body>
</html>
