<!DOCTYPE html>
<html>
<head>
    <title>RequestMessages</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="users.scss">
</head>
<body>
	<%= render 'tpa'%>
	<div class="col-md-3">
    <h3>View All</h3>
    <%= will_paginate %>
  	<ul class="nav nav-pills nav-stacked">
  		<% @req.each do |req|%>
  			<li><%=req.user_id,req%></li>
  		<%end%>
  	</ul>
  	<%= will_paginate %>

  	</div>




<div class="col-md-5">
<table class = "table table-bordered table-striped" width="0%">
<%= will_paginate %>
  <thead>
    <tr>
      <th>Statuscode</th>
      <th>Fileid</th>
      <th>Hash value</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @req.each.each do |req| %>
      <tr>
        <td><%= req.status_code %></td>
        <td><%= req.file_upload_id %></td>
        <td><%= req.file_hash %></td>
        <td><%= link_to 'Delete', user_file_upload_path(current_user,file_upload), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>





 </body>
</html>

