<!DOCTYPE html>
<html>
<head>
    <title><%= @user.first_name.upcase %></title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="users.scss">
</head>
<body>
<%=render 'tpa'%>

<div class="col-md-5">
<table class = "table table-bordered table-striped" width="0%">
  <thead>
    <tr>
      <th>Statuscode</th>
      <th>Fileid</th>
      <th>Hash value</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @req.each.each do |req| %>
      <tr>
        <td><%= req.status_code %></td>
        <td><%= req.file_upload_id %></td>
        <td><%= req.file_hash %></td>
        <td><%= link_to 'Delete', user_file_upload_path(current_user,file_upload), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</body>