	<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="control_panel.scss">
		
		<TITLE>Admin</TITLE>

	</head>
	<body>
	<center>
		<h1>Listing File Uploads</h1>
	</center>
<br />
<br />

<p id="notice"><%= notice %></p>
	<div class="row">
		<br>
		<div class="col-md-3 col-sm-3 col-lg-3">
		<ul class="nav nav-pills nav-stacked">
		<li class=" nav-first nav-home nav-path-selected active nav-item-1"><a href="/admin" target="_self"  class=" nav-first nav-home nav-item-1 "  >Dashboard</a></li>
	
		<li class=" nav-item-167"><a href="/elements/" target="_self"  class=" nav-item-167 "  >Users</a></li>
        <li class=" nav-item-130"><a href="/admin/files" target="_self"  class=" nav-item-130 "  >Files</a></li>

        <li class=" nav-item-130"><a href="/blog/" target="_self"  class=" nav-item-130 "  >TPA</a></li>
        <li class=" nav-item-979"><a href="/catalog/" target="_self"  class=" nav-item-979 "  >Catalog</a></li>
        <li class=" nav-item-165"><a href="/bootswatch/" target="_self"  class=" nav-item-165 "  >Go Online</a></li>
        <li class=" nav-last nav-item-1715"><a href="/custom/" target="_self"  class=" nav-last nav-item-1715 "  >Custom</a></li>
        </ul>
        </div>
    <div class="col-md-3 col-sm-3 col-lg-3">

		<table class = "table table-bordered table-striped">
  		<thead>
    	<tr>
      		<th>Owner</th>
      		<th>Filename</th>
      		<th>Keywords</th>
      		<th>Attachment</th>
      		<th colspan="3"></th>
    	</tr>
  		</thead>

  		<tbody>
    		<% @file_uploads.each do |file_upload| %>
      		<tr>
        		<td><%= file_upload.owner %></td>
        		<td><%= file_upload.fname %></td>
		        <td><%= file_upload.keywords %></td>
		        <td><%= file_upload.attachment %></td>
       			<td><%= link_to 'Download', file_upload.attachment_url, class: "btn btn-success"%></td>
		        <td><%= link_to 'Edit', edit_file_upload_path(file_upload), class: "btn btn-warning"%></td>
        		<td><%= link_to 'Destroy', file_upload, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      		</tr>
    		<% end %>
  		</tbody>
		</table>
	</div>
	</div>
	</body>
	</html>
